.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #ff136f;
}
.buy-now{
    background-image: linear-gradient(to bottom, #ff589B 3%, #ff136f 103%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 15px;
}
.cat-2{
   background-color: orchid;
    padding: 10px 30px;
    border-radius: 15px;
}
.cat-3{
    background-color: green;
    padding: 10px 30px;
    border-radius: 15px;
}
.categories h1{
   color: white;
    
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}